<script type="text/javascript">
  // Set profile name as title:
  jQuery('.members-block .profile_link .fn').each(function(pos, el) {
    el.parentNode.title = el.innerHTML
  });
  jQuery('.highlights-block').insertAfter('#theme-header');
  jQuery('.highlights-block .highlights-label').each(function(n, el) {
    var label = jQuery(el);
    if ( label.text() == '' ) return label.remove();
    labelPieces = label.text().split('|');
    label.empty();
    if ( labelPieces.length == 1 ) {
      jQuery('<span></span>').appendTo(label).text(labelPieces[0]);
    } else {
      jQuery('<strong></strong>').appendTo(label).text(labelPieces[0]);
      for ( var i=1; i<labelPieces.length; i++ ) {
        jQuery('<span></span>').appendTo(label).text(labelPieces[i]);
      }
    }
  });

  jQuery('#fisl-sociallinks').insertAfter('.highlights-block');
  /* Changed visualization of post creation date */
  var allCreationInfo = jQuery('#article .created-at');
  for ( var i=0; i<allCreationInfo.length; i++ ) {
    element = jQuery(allCreationInfo[i]);
    var author = element.find('.author');
    // Remove ", by " from author
    author.html(jQuery(author).find('a'));
    // Author on the beginning
    author.prependTo($(element));
    // Remove "-" from comments
    var n_comments = element.find('.comments');
    n_comments.html(jQuery(n_comments).find('a'));
  };
</script>

<%
  if @page && !@page.language.blank?
  root = @page.translation_of.nil? ? @page : @page.translation_of
  translations = root.translations + [root]
%>
<script type="text/javascript">
  jQuery(function($) {
    $('#fisl-languages a').attr('href', function(i,v) { return '<%= "/#{profile.identifier}/" %>' + v; });
    <% translations.each do |t| %>
    $('#fisl-languages .flag-<%= t.language %>').attr('href', '<%= url_for(t.url) %>?lang=<%= t.language %>');
    <% end %>
  });
</script>
<% end %>

<div id="footer-registration">
  <div id="footer-registration-inner">
    <div><a href='http://softwarelivre.org/fisl16/inscricoes/inscricoes-de-participantes' class="fisl-registration"><span>Inscreva-se</span></a></div>
    <div id="fisl16-npeople"></div>
  </div>
</div>

<div id="theme-footer-inner">
  <div id="theme-footer-inner-2">

  <div id="footer-map" class="footer-box">
    <%= theme_include('menu', {:locals => {:menu_id => 'mapsite'}}) %>

  </div><!-- end id="footer-map" -->
  <div id="footer-org">
    <h2>Realização</h2>
    <a href="http://asl.org.br" id="who-asl" target="_blank"><span>Associação Software Livre Brasil</span></a>
    <a href="http://softwarelivre.org" id="who-pslbr" target="_blank"><span>Projeto Software Livre Brasil</span></a>
  </div>

  <hr class="block-end">

  </div>
</div>

<div id="footer-2-border">
  <div id="footer-2">
    <div id="footer-2-content">
      <div class="box1">
        <a href="http://softwarelivre.org/fisl16">16º Fórum Internacional de Software Livre<br />
        8 a 11 de Julho de 2015 Centro de Eventos PUCRS | Porto Alegre | Brasil</a>
      </div>
      <div class="box2">
        <div class="box2-contact">
        <a id="footer-cc" href="http://creativecommons.org/licenses/by-sa/3.0/br/"><span>Creative Commons 3.0 by-sa Brazil</span></a>
          <a id="footer-contato" href="http://softwarelivre.org/fisl16/fale-conosco">Fale Conosco</a>
          <span>Desenvolvido pela</span>
          <a id="link-colivre" href="http://colivre.coop.br" title="Colivre - Cooperativa de Tecnologias Livres">Colivre</a>
        </div>
      </div>
    </div>
  </div><!-- Fim de footer-2" -->
</div><!-- Fim de footer-2-border" -->

<% unless logged_in? %>
  <%= button(:add, content_tag(:span, _('Sign up')), { :controller => 'account', :action => 'signup'}, :class => 'members-signup-link') %>
  <%= button(:add, content_tag(:span, 'Login'), login_url, :class => 'members-login-link') %>
<% end %>

<div id="subscribers-by-hand">
  <span class="number">5</span>
  <span class="number">2</span>
  <span class="number">8</span>
  <span class="number">1</span>
  <div style="">participantes</div>
</div>

<!--
<div id="fisl-people-counter">
  <script>
    function fisl15Counter(n) {
      jQuery('#fisl16-npeople').html(n);
    }
  </script>
  <script src="http://greve.softwarelivre.org/greve/data/total"></script>
  <div style='display:none;'>participantes</div>
</div>
-->

<div id='top-profile-search'>
  <%= form_tag( { :controller => 'profile_search', :profile => profile.identifier}, :method => 'get', :class => 'search_form' ) do %>
    <input name="q" size="15" title="<%=_('Search...')%>"
onfocus="this.form.className='focused';" onblur="this.form.className=''" />
    <%= hidden_field_tag 'where', 'profile' %>
  <% end %>
</div>
