<div id="top-menu">
  <div id="top-menu-inner">
    <%= theme_include('menu') %>
    <%= link_to(content_tag(:span,'Search in fisl16'), { :controller =>
'profile_search', :profile => profile.identifier}, :class => 'search-link') %>
  </div>
</div>

<div id="theme-header-inner">
  <div id="theme-header-inner-2">

    <div id="fisl-info">
      <span id="fisl-data">
        8 a 11 de Julho de 2015
      </span>
      <span id="fisl-local">
        | Porto Alegre | Brasil
      </span>
    </div>

    <a href='http://softwarelivre.org/fisl16/inscricoes/inscricoes-de-participantes' class="fisl-registration">
      <span>
        Inscreva-se
      </span>
    </a>

    <div id="fisl-languages">
      <a href="?lang=pt" class="flag-pt" title="Português Brasileiro"><span>Português Brasileiro</span></a>
      <a href="?lang=en" class="flag-en" title="English"><span>English</span></a>
      <a href="?lang=es" class="flag-es" title="Español"><span>Español</span></a>
      <a href="?lang=it" class="flag-it" title="Italiano"><span>Italiano</span></a>
      <a href="?lang=eo" class="flag-eo" title="Esperanto"><span>Esperanto</span></a>
    </div>

    <!-- <source src="http://hemingway.softwarelivre.org:8000/radiosl.ogg" type="audio/ogg"> -->
    <ul id="fisl-sociallinks">
      <li class='fisl16-radiosl'>
        <a href='/fisl16/noticias/radio-sl'
        class='radiosl'><span>Rádio Software Livre</span></a>
        <a href='/fisl16/noticias/radio-sl' class='watch-streams'>Ouça os áudios</a>
      </li>
      <li class='fisl16-hashtag'>#fisl16</li>
      <li>
        <a href='https://diasporabr.com.br/u/fisl'
        class='diasp'><span>Diáspora</span></a>
      </li>
      <li>
        <a href='https://www.facebook.com/fisl.oficial'
        class='fb'><span>Facebook</span></a>
      </li>
      <li>
        <a href='https://twitter.com/fisl_oficial'
        class='tt'><span>Twitter</span></a>
      </li>
      <li class='fisl16-tvsl'>
        <a href='/fisl16/ao-vivo' class='tvsl'><span>TV Software Livre</span></a>
        <a href='/fisl16/cobertura-da-tv-software-livre' class='watch-streams'>Assista aos vídeos</a>
      </li>
    </ul>

  </div><!-- id="theme-header-inner-2" -->
</div><!-- id="theme-header-inner" -->

<script>
(function() {
  var body = jQuery(document.body);
  function registerDocWidth() {
    var docW = body.width();
    for ( var w=600; w<=2000; w+=50 ) {
      if ( docW < w ) {
        body.removeClass('gt'+w);
        body.addClass('lt'+w);
      } else {
        body.removeClass('lt'+w);
        if ( docW > w ) body.addClass('gt'+w);
      }
    }
  }
  registerDocWidth();
  jQuery(window).resize(registerDocWidth);

  /*** Register and update Scrolledheight for CSS *****************************/
  function registerScrolling() {
    var doc = jQuery(document.documentElement);
    var scrollTop = jQuery(document).scrollTop();
    if(scrollTop<1) doc.addClass('not-scrolled').removeClass('scrolled');
    else doc.addClass('scrolled').removeClass('not-scrolled');
    for ( var i=10; i<=500; i+=10 ) {
      doc.removeClass('scrolled-gt'+i).removeClass('scrolled-lt'+i);
      if (scrollTop<i) doc.addClass('scrolled-lt'+i);
      else doc.addClass('scrolled-gt'+i);
    }
  }
  registerScrolling(); // run now and init the right layout size
  jQuery(registerScrolling); // run onload, and adjust to the scroll
  jQuery(document).bind('scroll', registerScrolling); // run when page scroll
})();
</script>

<script>
  // Esconde os botões da comunidade
  jQuery(function($){ $('.profile-info-options').hide()});
</script>

<script>
  jQuery(document.body).addClass('not-logged-in');
  // renomeia o botão de entrar na comunidade
  jQuery(window).bind('userDataLoaded', function(ev, data) {
    console.log(data);
    if ( data && data.login ) {
      jQuery(document.body).removeClass('not-logged-in');
      //jQuery(document.body).addClass('logged-in');
    }
    jQuery('#link_login strong').text('Login');
    jQuery(':lang(pt) #logout strong').text('Logout');
    jQuery('#user .admin-link strong').text('Adm');
    jQuery('#user .icon-menu-ctrl-panel + strong').text('Meu Painel');
    jQuery(':lang(pt) .profile-info-options .leave-community span span').text('Abandonar a comunidade');
    // Move os botões de registrar e logar no ambiente para o bloco de membros
    jQuery('.members-signup-link').appendTo('.members-block .join-leave-button');
    jQuery('.members-login-link').appendTo('.members-block .join-leave-button');
  });
</script>

<% if logged_in? && profile.admins.include?(user) %>
  <div id="admin-bts">
    <a id="cmm-admin" class="quick-admin-link" href="/myprofile/<%= profile.identifier %>">Admin #fisl16</a>
    <a id="edit-blocks" class="quick-admin-link" href="/myprofile/<%= profile.identifier %>/profile_design">Editar blocos</a>
    <a id="upload-image" class="quick-admin-link" href="/<%= profile.identifier %>/imagens">Subir imagem</a>
    <a id="highlight-image" class="quick-admin-link" href="/<%=
profile.identifier %>/imagens-de-destaque">Imagem para destaque<br/>(1018px &times; 411px)</a>
    <a id="new-post" class="quick-admin-link" href="/myprofile/<%= profile.identifier %>/cms/new?parent_id=<%= profile.blog.id %>&type=TinyMceArticle">Novo post</a>
  </div>
<% end %>
