<div class="menu-drop">
  <div class='line'></div>
  <div class='line'></div>
  <div class='line'></div>
</div>

<ul class='menu-links' id="<%= defined?(menu_id) ? menu_id : '' %>">
  <% if defined?(add_home) && add_home %><li><a href="/fisl16">Início</a></li><% end %>
  <li class="menu-inscricoes">
    <a>Inscrições</a>
    <ul>
      <li><a href="/<%= profile.identifier %>/inscricoes/inscricoes-de-participantes">Participantes</a></li>
      <li><a href="/<%= profile.identifier %>/inscricoes/palestrante">Palestrante</a></li>
      <li><a href="/<%= profile.identifier %>/inscricoes/voluntario">Voluntários</a></li>
    </ul>
  </li>
  <li class="menu-evento">
    <a>O Evento</a>
    <ul>
      <li><a href="/<%= profile.identifier %>/o-evento/sobre-o-fisl">Sobre o FISL</a></li>
      <li><a href="/<%= profile.identifier %>/o-evento/informacoes-uteis">Informações úteis</a></li>
      <li><a href="/<%= profile.identifier %>/o-evento/imprensa">Imprensa</a></li>
      <li><a
href="/<%= profile.identifier %>/o-evento/politica-anti-assedio">Política anti-assédio</a></li>
      <li><a
href="/<%= profile.identifier %>/o-evento/patrocinadores">Patrocinadores</a></li>
      <li><a href="/<%= profile.identifier %>/noticias/ajude-a-divulgar-o-fisl16">Divulgue</a></li>
      <li><a href="/<%= profile.identifier %>/noticias/as-paginas-amigas-voltaram">Páginas Amigas</a></li>
      <li><a href="/<%= profile.identifier %>/noticias/guia-de-hospedagem-fisl16">Guia de Hospedagem</a></li>
      <li><a href="/<%= profile.identifier %>/noticias/chamada-para-a-area-das-comunidades">Comunidades</a></li>
      <li><a href="/<%= profile.identifier %>/noticias/confira-a-programacao-do-gt-cultura-do-fisl16">Programação Cultural</a></li>
      <li><a href="/<%= profile.identifier %>/noticias/inscricoes-abertas-para-caravanasfisl16">Caravanas</a></li>
    </ul>
  </li>
  <li class="menu-conteudos">
    <a>Conteúdos</a>
    <ul>
      <li><a href="/<%= profile.identifier %>/conteudos/programacao">Programação</a></li>
      <li><a href="/<%= profile.identifier %>/conteudos/destaques">Destaques</a></li>
      <li><a href="/<%= profile.identifier %>/conteudos/convidados">Convidados</a></li>
      <li><a href="/<%= profile.identifier %>/conteudos/wsl">WSL</a></li>
      <li><a href="/<%= profile.identifier %>/conteudos/expositores">Expositores</a></li>
      <li><a href="/<%= profile.identifier %>/conteudos/zonas">Zonas</a></li>
    </ul>
  </li>
</ul>
