@import url(../profile-base/style.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

@font-face {
    font-family: Orbitron;
    src: url(fonts/orbitron/OrbitronLight.otf);
}

@font-face {
    font-family: Orbitron;
    src: url(fonts/orbitron/OrbitronBold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Amatic;
    src: url(fonts/amatic/AmaticSC-Regular.ttf);
}

@font-face {
    font-family: Amatic;
    src: url(fonts/amatic/Amatic-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: CabinSketch;
    src: url(fonts/cabinsketch/CabinSketch-Regular.otf);
}

html {
  background: #FFF;
}

body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  background: #FFF;
}

body.profile-homepage {
  background: linear-gradient(to right, rgba(239,239,239,0.9),
rgba(239,239,239,0.0));
}

hr.block-end {
  border: none;
  margin: 0;
  clear: both;
}

#wrap-1 {
  width: 100%;
  position: relative;
}

#wrap-2 {
  width: 100%;
  max-width: 970px;
  min-width: 750px;
  margin: 160px auto 0px;
  padding: 50px 0px 0px 0px;
  border: none;
  background-color: transparent;
}

.profile-homepage #wrap-2 {
  padding-top: 0px;
}

#content {
  border-top: none;
  margin-top: -160px;
}

#site-title,
#site-title a,
.scrolled-gt100 .profile-homepage #site-title,
.scrolled-gt100 .profile-homepage #site-title a,
.lt950.profile-homepage #site-title,
.lt950.profile-homepage #site-title a {
  width: 151px;
  height: 45px;
}
.profile-homepage #site-title,
.profile-homepage #site-title a {
  width: 388px;
  height: 204px;
}

.profile-homepage #site-title,
#site-title {
  left: auto;
  z-index: 110;
}
#site-title,
.scrolled-gt100 .profile-homepage #site-title,
.lt950.profile-homepage #site-title {
  top: 0px;
  z-index: 110;
  position: fixed;
}

.profile-homepage #site-title {
  top: 15px;
}

#site-title a {
  background-size: contain;
}

:lang(pt) .profile-homepage #site-title a {
  background: url(images/logo-pt.png) 50% 50% no-repeat;
}
:lang(en) .profile-homepage #site-title a {
  background: url(images/logo-en.png) 50% 50% no-repeat;
}
:lang(es) .profile-homepage #site-title a {
  background: url(images/logo-es.png) 50% 50% no-repeat;
}
:lang(eo) .profile-homepage #site-title a {
  background: url(images/logo-eo.png) 50% 50% no-repeat;
}
:lang(it) .profile-homepage #site-title a {
  background: url(images/logo-it.png) 50% 50% no-repeat;
}

#site-title a,
.scrolled-gt100 .profile-homepage #site-title a,
.lt950.profile-homepage #site-title a {
  background: url(images/logo-fisl-small.png) 50% 50% no-repeat;
}

#profile-header {
  display: none;
}

#theme-header,
#theme-header-inner {
  height: 0px;
}

.profile-homepage #theme-header {
  width: 100%;
  min-width: 750px;
  height: 190px;
  background: transparent url('images/top-bg.png') repeat;
}

.profile-homepage #theme-header-inner {
  background-color: transparent;
  background: linear-gradient(to right, rgba(239,239,239,0.6),
rgba(239,239,239,0.0));
  height: 190px;
  z-index: 10;
}

#theme-header-inner-2 #fisl-info,
#theme-header-inner-2 #fisl-registration,
#theme-header-inner-2 #fisl-languages,
#theme-header-inner-2 #fisl-sociallinks,
#theme-header-inner-2 .fisl-registration,
#theme-footer .fisl-registration {
  display: none;
}

.profile-homepage #theme-header-inner-2 #fisl-info,
.profile-homepage #theme-header-inner-2 #fisl-registration,
.profile-homepage #theme-header-inner-2 #fisl-languages,
.profile-homepage #theme-header-inner-2 #fisl-sociallinks,
.profile-homepage #theme-header-inner-2 .fisl-registration,
.profile-homepage #theme-footer .fisl-registration {
  display: block;
}

#theme-header-inner-2 {
  width: 100%;
  max-width: 1018px;
  margin: auto;
}

.profile-homepage #theme-header-inner-2 {
  position: relative;
  height: 100%;
}

.profile-homepage #fisl-info {
  font-family: Orbitron;
  position: absolute;
  font-size: 20px;
  color: #666;
  top: 70px;
  right: 0px;
  text-align: center;
}
.lt950 #fisl-info {
  font-size: 36px;
  top: 50px;
}
.lt900 #fisl-info {
  font-size: 34px;
}
.lt850 #fisl-info {
  font-size: 30px;
}

#fisl-local {
  line-height: 24px;
}

:lang(eo) #fisl-data {
  font-family: 'Roboto Condensed', sans-serif;
  width: 445px;
}

#theme-header .fisl-registration,
#theme-footer .fisl-registration {
  font-family: Orbitron;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  text-align: center;
}

#theme-header .fisl-registration:hover,
#theme-footer .fisl-registration:hover {
  color: #666;
  text-decoration: none;
  text-shadow: 0 0 3px #EEE, 0 0 3px #EEE;
}

#theme-header .fisl-registration {
  text-decoration: none;
  position: absolute;
  bottom: 25px;
  right: 35%;
  background: url('images/registration-bg.png') no-repeat;
  font-size: 15px;
  width: 170px;
  height: 23px;
  padding-top: 5px;
}

#theme-footer .fisl-registration {
  background: url('images/registration-bg-big.png?v=2') no-repeat;
  font-size: 30px;
  width: 320px;
  height: 43px;
  padding-top: 10px;
}

#fisl-sociallinks {
  font-family: Amatic;
  font-weight: bold;
  display: inline-block;
  list-style: none;
  width: 100%;
  text-align: center;
  padding-left: 0px;
}

#fisl-sociallinks li {
  display:  inline-block;
  margin: 5px 10px;
  font-size: 28px;
  vertical-align: middle;
}

#fisl-sociallinks li.fisl16-tvsl {
  width: 250px;
}

#fisl-sociallinks a {
  height: 30px;
  display: block;
  text-decoration: none;
}

#fisl-sociallinks a.diasp {
  background: url('images/diasp.png') no-repeat;
  width: 31px;
}

#fisl-sociallinks a.fb {
  background: url('images/fb.png') no-repeat;
  width: 31px;
}

#fisl-sociallinks a.tt {
  background: url('images/tt.png') no-repeat;
  width: 31px;
}

#fisl-sociallinks a.identica {
  background: url('images/identica.png') no-repeat;
  width: 30px;
}

#fisl-sociallinks a.radiosl {
  background: url('images/radiosl.png') no-repeat;
  width: 200px;
  height: 105px;
  margin: auto;
}

#fisl-sociallinks a.tvsl {
  background: url('images/tvsl.png') no-repeat;
  width: 194px;
  height: 105px;
  margin: auto;
}

#fisl-sociallinks li a.watch-streams {
  font-family: CabinSketch;
  font-size: 22px;
}

#fisl-sociallinks a span {
  font-size: 6px;
  color: transparent
}

#profile-header p {
  padding: 0px 20px;
  margin: 5px 0px;
}
#profile-header p:first-child {
  padding-top: 10px;
}

#boxes {
  margin: 0px;
}

.box-1 {
  width: auto;
  margin-right: 295px;
}

.box-1 .blocks {
  padding-top: 30px;
  border-right: 2px solid #EEE;
}

.profile-homepage .box-1 .blocks {
  border-right: none;
}

.box-2 {
  width: 270px;
  padding-top: 30px;
}

.main-content {
  border: none;
  box-shadow: none;
  padding: 0px;
}

#content .no-boxes {
  padding-top: 35px;
}

.block-inner-1 {
  background-color: transparent;
}

.block-inner-2 {
  background-color: white;
  padding: 1px 30px;
}

.box-2 .block-inner-2 {
  padding: 1px 0px;
}

.profile-homepage .main-block .block-inner-2,
.link-list-block .block-inner-2 {
  padding: 0px;
  background-color: transparent;
}

/* * Menu de Usuário * */

#user {
  position: fixed;
  text-align: center;
  margin-top: -11px;
  top: 48px;
  height: auto;
  width: 100%;
  padding: 3px 10px;
  color: rgba(60,55,30,0.4);
  z-index: 12;
}

#user span.logged-in,
#user span.not-logged-in {
  padding: 5px;
  background: rgba(248,224,0,0.8);
  border-radius: 0 0 5px 5px;
}

#user span.not-logged-in {
  display: none !important;
}

#user span.welcome {
  margin-left: 0px;
}

#user a, #user a strong {
  color: #333;
  text-decoration: none;
  font-weight: normal;
  border: none;
  background-color: transparent;
  padding-right: 0px;
}

#user a span {
  padding: 0px;
}
#user a:hover {
  text-decoration: underline;
}

#manage-enterprises-link strong {
  display: inline-block;
  width: 0px;
  height: 11px;
  overflow: hidden;
}

.profile-info-options {
  display: inline-block;
  margin: 0px;
  padding: 0px 0px 0px 5px;
}
.profile-info-options ul {
  margin: 0px;
  padding: 0px;
}
.profile-info-options li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline;
}
.profile-info-options .report-abuse-action {
  display: none;
}

#user a#pending-tasks-count {
  background: #FA0;
  text-shadow: 0 0 2px #A60, 0 0 2px #840;
  padding: 1px 3px;
}

#user .icon-menu-login,
#user .icon-menu-admin,
#user .icon-menu-ctrl-panel,
#user .icon-menu-logout,
.profile-info-options .icon-delete,
.profile-info-options .icon-menu-mail {
  background-image: none;
}

#controlpanel, #logout, #openchat, #manage-enterprises {
  margin-left: 15px;
}

/* * Internacionalização * */

#fisl-languages {
  position: absolute;
  bottom: 10px;
  right: 0px;
  padding: 5px;
  padding-right: 0px;
  text-align: right;
}
.lt1150 #fisl-languages {
  right: 20px;
}
.lt1100 #fisl-languages {
  right: 40px;
}
.lt1050 #fisl-languages {
  right: 70px;
}
.lt1000 #fisl-languages {
  right: 90px;
}

#fisl-languages a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  background-image: center no-repeat;
  display: inline-block;
  height: 21px;
  width: 32px;
  margin-left: 5px;
}

.flag-it { background-image: url(images/flags/IT.png?v=4) }
.flag-eo { background-image: url(images/flags/EO.png?v=4) }
.flag-en { background-image: url(images/flags/UK.png?v=3) }
.flag-es { background-image: url(images/flags/UY.png?v=1) }
.flag-pt { background-image: url(images/flags/BR.png?v=3) }
#fisl-languages a span{ display: none }

#article.blog #addThis {
  position: absolute;
  top: 10px;
  right: 0px;
  margin: 0px;
  z-index: 1;
}

.profile-homepage #addThis {
  display: none;
}

/* * Theme admin buttons * */

#admin-bts {
  position: fixed;
  top: 40px;
  right: 10px;
  z-index: 120;
}

.quick-admin-link {
  display: block;
  margin: 5px 0;
  padding: 3px 1px;
  text-align: center;
  border: 2px solid rgba(0,0,0,0.1);
  background: rgba(190,190,190,0.7);
  color: #333;
  border-radius: 4px;
  left: 0px;
  text-decoration: none;
}

.quick-admin-link:hover {
  text-decoration: none;
  background: #FB0;
}

/* * Top-Menu - navegação Horizontal * */

#top-menu {
  position: fixed;
  z-index: 100;
  top: 0px;
  width: 100%;
  height: 35px;
  min-width: 750px;
  background-color: #666;
  text-align: right;
}

#top-menu-inner {
  max-width: 1018px;
  margin: auto;
  position: relative;
}

#top-menu-inner > ul {
  float: right;
  margin: 0px;
  padding: 0px 25px 0px 0px;
  text-align: left;
}

#top-menu li {
  position: relative;
  list-style: none;
  float: left;
}

#top-menu > ul > li:first-child {
  margin-left: 60px;
}

#top-menu li.menu-inscricoes > a:first-child,
#top-menu li.menu-evento > a:first-child,
#top-menu li.menu-conteudos > a:first-child,
#footer-map li.menu-inscricoes > a,
#footer-map li.menu-evento > a,
#footer-map li.menu-conteudos > a {
  font-family: Orbitron;
}

#top-menu li.menu-inscricoes > a:hover,
#top-menu li.menu-evento > a:hover,
#top-menu li.menu-conteudos > a:hover,
#footer-map li.menu-inscricoes > a:first-child,
#footer-map li.menu-evento > a:first-child,
#footer-map li.menu-conteudos > a:first-child {
  color: #F9E00F;
}

#top-menu li a {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #FFF;
  line-height: 28px;
  padding: 7px 20px 0px;
  display: block;
  cursor: pointer;
}
.lt850 #top-menu li a {
  padding: 5px 13px;
}
.lt800 #top-menu li a {
  padding: 5px 11px;
}
.lt750 #top-menu li a {
  padding: 10px;
}

#top-menu > ul > li:hover > a {
  text-shadow: 0 0 2px #FE4, 0 0 4px #FE4;
}

#top-menu .menu-inscricao a {
  color: #FD0;
}

#top-menu .search-link {
  background: url('images/lupa-w.png') no-repeat;
  width: 20px;
  height: 30px;
  display: block;
  position: absolute;
  right: 0px;
  top: 8px;
}

#top-menu .search-link:hover {
  background: url('images/lupa-y.png') no-repeat;
}

#top-menu .search-link:hover + #top-profile-search {
  display: block;
}

#top-menu .search-link span {
  display: none;
}

#top-menu a.menu-live {
  text-decoration: none;
  font-size: 30px;
  font-family: CabinSketch;
  color: #F8E10A;
  position: absolute;
  left: 45%;
}

#top-menu a.menu-live:hover {
  text-shadow: 0 0 1px #CCC;
}

#top-menu .menu-drop {
  padding-top: 7px;
  display: none;
  margin-left: 10px;
  cursor: pointer;
}

#top-menu .menu-drop .line {
  width: 27px;
  height: 6px;
  border-radius: 2px;
  display: block;
  background: none repeat scroll 0% 0% #FFF;
  margin-bottom: 4px;
}

/* * Top-Menu Submenu * */

#top-menu li ul {
  position: absolute;
  left: 0px;
  width: auto;
  height: auto;
  border: none;
  margin: 0px;
  padding: 0 0 10px 0;
  background-color: rgba(78,78,78,0.9);
  opacity: 0;
  visibility: hidden;
}

#top-menu li:hover > ul {
  opacity: 1;
  visibility: visible;
}

#top-menu li ul li {
  float: none;
}

#top-menu li ul li a {
  display: block;
  line-height: 20px;
  font-size: 14px;
  border: 0;
  padding: 7px 30px;
}
.lt850 #top-menu li a {
  font-size: 20px;
}

.lt850 #top-menu li ul li a {
  line-height: 18px;
  font-size: 18px;
}

#top-menu li ul li a:hover {
  background-color: #676767;
}

/* * Top Search * */

#user #top-search {
  display: none;
}

#top-profile-search {
  vertical-align: top;
  position: absolute;
  right: 0px;
  top: 35px;
  background: #666;
  padding: 5px;
  display: none;
}

#top-profile-search:hover {
  display: block;
}

#top-profile-search input {
  font-size: 14px;
  background: #EEE;
  -webkit-box-shadow: inset 0px 0px 4px #666;
  box-shadow: inset 0px 0px 4px #666;
  border: none;
  color: #333;
  width: 250px;
}
.lt850 #top-profile-search input {
  width: 100px;
}

#top-profile-search div {
  display: none;
  color: #FFF;
  background: #666;
  border-radius: 0 0 6px 6px;
  padding: 2px 0px;
  position: relative;
  z-index: 10;
}
#top-profile-search.focused div {
  display: block;
}

/* * Conteúdo * */

#article {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  margin-top: 30px;
}

#article .article-body,
#article .article-body span[style],
#article .article-body div[style],
#article .article-body p[style] {
  font-family: "Open Sans",sans-serif !important;
  font-size: 16px !important;
  color: #333 !important;
  line-height: 1.6;
}

.profile-homepage #article .article-body,
.profile-homepage #article .article-body span[style],
.profile-homepage #article .article-body div[style],
.profile-homepage #article .article-body p[style] {
  font-size: 13px !important;
}

#article .article-body table {
  max-width: 100% !important;
}

#article .article-body table.banners-logos span[style] {
  color: #FFF !important;
}

#article .article-body tr:hover td {
  background-color: inherit;
}

#content .main-block {
  margin-top: -15px;
}

#article {
  padding-bottom: 20px;
}

/*#content .main-block .article-body {
  padding: 0px 0px 20px 0px;
}*/

#content .blog-posts {
  margin: 0;
}

#article.blog {
  margin-top: 0px;
}

.profile-homepage #article-toolbar .logged-in {
  padding-top: 0px;
}

#article-actions {
  position: relative;
  z-index: 5;
}

#article-actions .report-abuse-action,
.profile-homepage #article-tags {
  display: none;
}

#suggest-article-link {
  display: none;
}

#article-tags {
  padding: 0px;
  margin: 0px;
}

#article.blog #article-toolbar {
  position: absolute;
  top: 0px;
  background-color: transparent;
  padding: 0px;
}

#article.blog #article-header,
#article-parent {
  display: none;
}

.blog-posts > div {
  background: white;
  margin: 25px 0px;
  padding: 10px 20px;
  position: relative;
}
.blog-posts > div:first-child {
  margin-top: 0px;
}

.blog-post {
  background: white;
  margin: 0px;
  padding: 0px;
}

#content .blog-post .title a {
  font-size: 24px;
  font-weight: bold;
}

.blog-post .created-at .date {
  text-transform: lowercase;
}

#posts-left {
  width: 48%;
  float: left;
}

#posts-right {
  width: 48%;
  float: right;
}

#posts-left,
#posts-right {
  word-wrap: break-word;
}

.profile-homepage #content .blog-post .title a {
  display: inline-block;
  line-height: 1.3;
}

.profile-homepage #content .blog-post .short-post p {
  margin-top: 0px;
}

.profile-homepage .blog-posts .created-at {
  padding-top: 0px;
}

#article-header,
#content .blog-post .title {
  text-align: left;
  border: none;
}

#content #article-header .title,
#content .blog-post .title a,
#not-found h1,
#access-denied h1 {
  font-variant: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #555;
  border: none;
  text-decoration: none;
  text-align: left;
  padding: 0px;
}

#content .blog-post .title a {
  line-height: 15px;
}


#content #article-header .title,
#not-found h1,
#access-denied h1 {
  font-family: Orbitron;
}
:lang(eo) #content #article-header .title,
:lang(eo) #content .blog-post .title a,
:lang(eo) #not-found h1,
:lang(eo) #access-denied h1 {
  /* font-family: 'Roboto Condensed', sans-serif; */
}

#content .blog-post .title a:hover {
  text-decoration: underline;
  color: #555;
}

#content .old-posts .title a {
  font-size: 22px;
  line-height: 28px;
}

#content .created-at {
  display: inline;
}

#content .blog-post .read-more a {
  color: #C66;
  text-decoration: none;
  margin-right: 0px;
  margin-left: 10px;
}

#content .blog-post .read-more a:hover {
  text-decoration: underline;
}

#content .blog-post .created-at {
  color: #999;
  font-size: 11px;
  padding-top: 20px;
  text-transform: capitalize;
}
#article-header .created-at {
  padding-top: 7px;
}

#content .tiny-mce-article .created-at,
#content .tiny-mce-article .created-at a {
  color: #808080;
}

#content .tiny-mce-article .created-at .author,
#content .tiny-mce-article .created-at .date {
  padding-right: 5px;
  border-right: 1px solid #808080;
}

#content .tiny-mce-article .created-at .date,
#content .tiny-mce-article .created-at .comments {
  padding-left: 5px;
}

.action-content_viewer-view_page #content .main-content {
  margin-left: -100px;
  background: url(images/article-bg.png) no-repeat left 20%;
}
.profile-homepage #content .main-content {
  margin-left: 0px;
  background: none;
}

.action-content_viewer-view_page #content #article {
  padding-left: 20px;
  margin-left: 80px;
  background-color: #FFF;
}

.profile-homepage #content #article {
  padding-left: 0px;
  margin-left: 0px;
  background-color: transparent;
}

#article-hits {
  display: none;
}

.comment-count {
  color: #FFF;
  display: inline-block;
  line-height: 14px;
  width: 25px;
  text-align: center;
}

#article h2, #article h3, #article h4, #article h5, #article h6 {
  font-size: 24px;
  color: #333;
}
#article h3 { font-size: 20px }
#article h4 { font-size: 18px }
#article h5 { font-size: 16px }
#article h6 { font-size: 14px }

#article ul li {
  list-style-type: circle;
  margin: 0 0 10px 40px;
}
#article ol li {
  list-style-type: decimal;
  margin: 0 0 10px 40px;
}

#article td, #article th {
  border: 1px solid #333;
}

/* Comments */

#content #comments_list h3,
#comments_list a.display-comment-form {
  font-family: Orbitron;
  border: none;
  padding: 2px;
  color: #808080;
  font-variant: normal;
  background: transparent;
}
#comments_list .comment-count {
  background: transparent;
  width: auto;
  color: #F0E818;
}

#comments_list a.display-comment-form {
  font-size: 14px;
}

#comments_list a.display-comment-form:hover {
  text-shadow: 0 0 2px #CCC, 0 0 2px #CCC;
}

#comments_list form .formfieldline label[for="comment_title"],
#comments_list form .formfieldline #comment_title {
  display:none;
}

#content #comments_list input.submit,
#content #comments_list a.button {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  font-size: 13px;
}

#content #comments_list input.submit {
  font-weight: bold;
  font-size: 14px;
}

#content #comments_list input.button.with-text,
#comment_list .button-bar a.button.with-text {
  padding-left: 0px;
}

#content #comments_list input:hover,
#content #comments_list a.button:hover {
  text-shadow: 0 0 1px #CCC;
  color: #555;
}

#content #comments_list .icon-add,
#content #comments_list .icon-cancel {
  background-image: none;
}

.comment-wrapper-1, .comment-wrapper-2, .comment-wrapper-3,
.comment-wrapper-4, .comment-wrapper-5, .comment-wrapper-6,
.comment-wrapper-7, .comment-wrapper-8{
  background: none;
  margin:0;
}

.comment-replies .comment-wrapper-1 {
  margin-left: 0px;
}

#content .comment-picture {
  width: 55px;
}

#article .article-comment .comment-details h4 {
  display: none;
}

#article .article-comment .comment-details .comment-text {
  clear: right;
}

#article .article-comment .comment-details .comment-created-at {
  font-size: 9pt;
}

#comments_list .comment-info {
  position: absolute;
  top: 0px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 55px;
  width: 300px;
  height: 33px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#comment-actions .menu-submenu-trigger, .comment-actions .vcard
.menu-submenu-trigger {
  background-color: transparent;
  height: 11px;
  width: 12px;
}

#article .article-comments-list .comment-replies {
  padding-left: 50px;
}

#article .article-comments-list .comment-replies .comment-info {
  color: #666;
  margin-left: 35px;
  font-size: 12px;
}

#article .article-comments-list .comment-replies li {
  margin-top: 0px;
}

#article .article-comments-list .comment-replies .article-comment {
  border-color: #EEE;
}

.comment-replies .article-comment-inner {
  border: none;
}

#content .comment-replies .comment-picture {
  width: 35px;
  height: 35px;
  overflow: visible;
}

.article-comments-list .comment-balloon > br {
  display: none;
}

#top-post-comment-button {
  display: none;
}

/* * Paginador * */

.pagination {
  color: #333;
  padding: 30px 0 0 0;
}
#article .blog-posts div.pagination {
  background: transparent;
  font-size: 15px !important;
}

#content #article .pagination .prev_page,
#content #article .pagination .next_page {
  position: static;
  padding: 1px 8px;
  color: #333;
}
.pagination .disabled {
  opacity: 0.5;
}
#article .pagination a.prev_page:hover,
#article .pagination a.next_page:hover {
  text-decoration: underline;
  background: transparent;
}

#article .pagination a {
  color: #333;
  text-decoration: none;
  display: inline-block;
  padding: 1px 6px;
  border-radius: 10px;
}
.pagination a:hover {
  background: #FE0;
}

.pagination .current {
  font-weight: normal;
  color: #73715e;
  background: #f8e10a;
  display: inline-block;
  padding: 1px 6px;
  border-radius: 10px;
}

.lt850 #article .blog-posts div.pagination {
  font-size: 20px !important;
}

.lt850 #article .blog-posts div.pagination .previous_page,
.lt850 #article .blog-posts div.pagination .next_page {
  display: block;
}

.lt850 #article .blog-posts div.pagination .previous_page {
  text-align: left;
}

.lt850 #article .blog-posts div.pagination .next_page {
  text-align: right;
}

.lt850 .pagination .current,
.lt850 #article .pagination a {
  padding: 5px 10px;
}

/* * Blocos * */

.box-2 .block-outer:first-child {
  margin-top: 0px;
}

#content .box-2 .members-block ul {
  width: 100%;
}

.box-2 .common-profile-list-block .vcard a.profile_link {
  height: 52px;
}
#content .block.highlights-block {
  margin: 0px 0px 10px 0px;
  position: relative;
  width: 100%;
  height: 410px;
  overflow: hidden;
}

#content .block.highlights-block .block-title {
  display: none;
}

#content .block.highlights-block .block-inner-2 {
  padding: 0;
}

.highlights-container {
  border: none;
  background-color: #FFF;
}

.highlights-label {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.9);
  color: #444;
  font-size: 18px;
  top: 20px;
  left: auto;
  right: 20%;
  bottom: auto;
  height: auto;
  max-width: 15%;
  padding: 10px 15px;
  overflow: visible;
}

.highlights-block-footer {
  display: none;
}

.highlights-block-pager {
  height: 40px;
  padding: 4px 0px;
  position: absolute;
  right: 30%;
  bottom: 5px;
  z-index: 10;
}

.highlights-block-pager a {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
  padding: 0px;
  color: transparent;
  background: url('images/high-page.png') no-repeat;
}

.highlights-block-pager a.activeSlide {
  color: transparent;
  background: url('images/high-page-active.png') no-repeat;
}
.highlights-block-pager a:hover {
  color: transparent;
  background: url('images/high-page-active.png') no-repeat;
}

.highlights-block .button-bar {
  position: relative;
  z-index: 10;
}

#content #box-organizer .highlights-block {
  margin-top: 35px;
}

#box-organizer .highlights-block .button-bar {
  display: block;
}

.profile-image-block {
  display: none;
}

#content .block-title {
  background: transparent;
}

#content .block-title,
#content .block-title a {
  background: transparent;
  color: #333;
  border: none;
  padding: 0 15px 0 0;
  font-variant: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  text-align: left;
}
:lang(eo) #content .block-title a {
  /* font-family: 'Roboto Condensed', sans-serif; */
}

#content .block-title a {
  text-decoration: none;
}

.block-title span {
  font-family: Orbitron;
  font-size: 18px;
  color: #666;
}

#content .block-title a {
  background: #FE0;
}

#content .block-title.tv span,
#content .block-title.radio span {
  margin-top: 0;
  padding-bottom: 3px;
  padding-top: 3px;
}

.block-footer-content {
  text-align: right;
  padding-right: 5px;
}

#content .block.profile-search-block {
  margin-top: -20px;
}

.profile-search-block .block-inner-2 {
  padding: 0;
}

.profile-search-block form {
  background: transparent url(images/lupa.png) 96% 50% no-repeat;
  padding: 5px 30px 5px 5px;
}

.profile-search-block form:before {
  position: absolute;
  top: 8px;
  left: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #999;
}
:lang(pt) .profile-search-block form:before {
  content: "Busca";
}
:lang(en) .profile-search-block form:before {
  content: "Search";
}
:lang(es) .profile-search-block form:before {
  content: "Buscar";
}
:lang(eo) .profile-search-block form:before {
  content: "Serĉi";
}
:lang(it) .profile-search-block form:before {
  content: "Cerca";
}

.profile-search-block form input,
.profile-search-block form input:hover {
  color: transparent;
  background: transparent;
  box-shadow: none;
  padding: 5px 0;
  display: block;
  font-size: 18px;
}

.profile-search-block form input:focus {
  color: #333;
  background: #FFF;
  position: relative;
  z-index: 2;
}

.profile-search-block .search-field div:before {
  content: "Busca";
}
.profile-search-block .search-field div {
  display: none;
}


#content .tags-block .block-footer-content a,
#content .people-block .block-footer-content a,
#content .profile-list-block .block-footer-content a,
#content .enterprises-block .block-footer-content a,
#content .members-block .block-footer-content a,
#content .communities-block .block-footer-content a,
#content .friends-block .block-footer-content a {
  position: static;
}

.members-block ul {
  width: auto;
  padding-left: 0px;
}

.members-block li {
  list-style: none;
}

.members-block .profile_link .fn {
  display: none;
}
.members-block .vcard a.profile_link {
  width: 50px;
  height: 50px;
  margin: 0px;
}
.members-block .vcard .menu-submenu-trigger {
  height: 12px;
}

.members-block .block-footer-content {
  position: relative;
}

.members-block .block-footer-content a {
  display: none;
}

.members-block .block-footer-content .join-leave-button {
  margin-top: 20px;
}

#content .members-block .block-footer-content .join-leave-button a,
#theme-footer .members-block .block-footer-content .join-leave-button a {
  background-color: transparent;
  margin-right: 10px;
  padding-right: 0px;
  border: none;
  color: #555;
  font-size: 13px;
  display: initial;
}

#content .members-block .block-footer-content .join-leave-button a:hover,
#theme-footer .members-block .block-footer-content .join-leave-button a:hover {
  border: none;
  color: #000;
  background-color: transparent;
  text-decoration: underline;
}

#content .members-block .block-footer-content .button.icon-add,
#theme-footer .members-block .block-footer-content .button.icon-add,
#content .members-block .block-footer-content .join-leave-button
.members-signup-link,
#theme-footer .members-block .block-footer-content .join-leave-button .members-signup-link {
  background: url(images/ico-entrar.png) 0% 50% no-repeat;
  white-space: nowrap;
}

.block-footer-content {
  text-align: center;
  padding: 10px 0 10px 10px;
}

.slideshow-block .with-descriptions {
  border: none;
}
.slideshow-block .image-description {
  display: none;
}
.slideshow-block .slideshow-container {
  margin-bottom: 0px;
}

.slideshow-block .slideshow-container div {
  height: 200px;
}
.profile-homepage .slideshow-block .slideshow-container div {
  height: 130px;
}

#theme-footer .gallery-block {
  background-color: #FFF;
  padding-top: 30px;
}

#theme-footer .gallery-block .gallery-list,
#theme-footer .gallery-block .gallery-group {
  width: 100% !important;
}

.slideshow-block .slideshow-border {
  position: relative;
}

.gallery-block-arrow {
  width: 16px;
}

.gallery-block .gallery-block-prev {
  background-image: url('images/gallery-prev.png');
}
.gallery-block .gallery-block-next {
  background-image: url('images/gallery-next.png');
}

.feed-reader-block ul {
  padding-right: 15px;
}

.feed-reader-block .block-footer-content {
  display: none;
}

#content .link-list-block li {
  margin: 0px;
}

#content .link-list-block li a {
  color: #FFF;
  background-color: #333;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: inherit;
  text-shadow: 0 0 8px #333, 0 0 8px #333, 0 0 8px #333;
}

.template-rightbar #content .link-list-block li a.link-this-page {
  width: auto;
  max-width: inherit;
  margin-left: 0px;
  background-color: #555753;
  border-radius: inherit;
}

.template-rightbar #content .link-list-block li a:hover {
  text-shadow: 0 0 2px #FE4, 0 0 4px #FE4;
}

.recent-documents-block ul {
  padding-left: 0px;
}

.feed-reader-block li, .recent-documents-block li {
  list-style: none;
}

.article-block {
  overflow: visible;
}

#content #article .article-body table td img {
  max-width: none;
}

#content #article td,
#content #article th {
  border: 1px solid transparent;
}

/* * Login box * */

#TB_window {
  border: 20px solid #F0D810;
  border-radius: 10px;
}

#TB_window .submit {
  color: #000;
}

/* * Formularios * */

input, textarea, input[type="password"], input[type="text"], input[type="search"]{
  background: #EEE;
  border-radius: 3px;
  padding: 5px;
  -webkit-box-shadow: inset 0px 0px 2px #666;
  box-shadow: inset 0px 0px 2px #666;
  border: none;
}
textarea:hover, input[type="password"]:hover, input[type="text"]:hover, input[type="search"]:hover{
  background-color: #fdfce5;
}
input[type="submit"]:hover {
  background-color: #333;
  color: #FFF;
  box-shadow:inset none;
  -webkit-box-shadow:  0px 0px 3px 1px #666;
  box-shadow:  0px 0px 3px 1px #666;
  cursor: pointer;
}
#cboxContent input[type="submit"]{
   color: black;
}

input[type="submit"]:hover{
  background-color: #434343;
}
form.search_form input[type="search"]{
  border: none;
  background-color: #F0E818;
  -webkit-box-shadow: inset 0px 0px 2px 1px #333;
  box-shadow: inset 0px 0px 2px 1px #333;
}

/* * Rodapé * */

#theme-footer {
  min-width: 750px;
  width: 100%;
  margin: 0px;
  color: #FFF;
}

#theme-footer-inner {
  background: #333;
  margin-top: 150px;
}

#theme-footer-inner-2 {
  max-width: 1000px;
  margin: -150px auto 0 auto;
  padding: 30px 0 20px 0;
  position: relative;
}

#theme-footer a,
#theme-footer a:hover,
#footer-org #int-risol a,
#footer-org #int-risol a:hover {
  color: #FFF;
}

#footer-map {
  width: 100%;
  position: relative;
}

#footer-map .menu-live {
  display: none;
}

#mapsite {
  margin: 0px;
  padding: 0 0 0 20px;
  font-weight: 100;
}

#mapsite li {
  float: left;
  padding: 0 70px 0 0;
  list-style: none;
  vertical-align: top;
  font-size: 18px;
  font-weight: bold;
  /* text-transform: uppercase; */
}

#mapsite li.menu-POA,
#mapsite li.menu-inscricao {
  float: none;
}

#mapsite li.menu-inscricao a {
  margin-top: 40px;
  color: #FE0;
}

#mapsite > li > a {
  display: block;
}

#mapsite ul {
  display: inline-block;
  margin: 0px;
  padding: 15px 0px 0px 0px;
}

#footer-map #mapsite ul li {
  float: none;
  padding: 0px;
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
}

#footer-org {
  position: absolute;
  right: 5%;
}

#footer-org h2 {
  font-family: Orbitron;
  font-weight: bold;
  margin: 0px;
  text-align: center;
}

#footer-org a,
#footer-org a:hover {
  display: inline-block;
  color: transparent;
  text-decoration: none;
}

#who-asl, #who-pslbr {
  display: block;
  height: 97px;
  width: 85px;
  margin: auto;
}
#who-asl {
  background: url(images/iconASL2.png) 50% 50% no-repeat;
}
#who-pslbr {
  background: url(images/iconSLB.png) 50% 50% no-repeat;
  margin-top: 20px;
}

#int-risol {
  font-size: 10px;
  width: 95px;
}

#footer-org #int-risol a:hover {
  text-decoration: underline;
}

#footer-2-border {
  background: #1A1A1A;
  width: 100%;
}

#footer-2 {
  max-width: 970px;
  min-width: 750px;
  margin: auto;
}

#footer-2-content {
  margin: 0px 20px;
  padding: 10px 0px;
  position: relative;
}

#footer-2 .box1 {
  padding: 5px 0px 6px 0px;
  line-height: 15px;
}

#footer-2 .box2 {
  position: absolute;
  top: 15px;
  right: 0px;
  width: 260px;
  white-space: nowrap;
  text-align: right;
  color: #EEE;
}

#theme-footer .box2 a,
#theme-footer .box2 a:hover {
  color: #EEE;
}

#footer-2 .box2-contact {
  text-align: right;
  margin-right: 15px;
}

#footer-cc {
  background: url(images/cc.png);
  display: block;
  width: 88px;
  height: 31px;
  float: right;
  margin-left: 10px;
}
#theme-footer #footer-cc,
#theme-footer #footer-cc:hover {
  text-decoration: none;
  color: transparent;
  font-size: 1px;
}

#footer-contato {
  display: block;
  font-weight: bold;
  font-size: 12px;
  text-align: right;
}

/* * * Container block * * */

.container-block-plugin_container-block > .block-inner-1 > .block-inner-2 {
  background-color: transparent;
  padding: 0px;
  text-align: right;
}

.container-block-plugin_container-block .block-outer {
  margin: 0px;
  width: 48%;
}
.container-block-plugin_container-block .block-outer:first-child {
  float: left;
}

/* * * Rádio SL, via audio.js * * */

#fisl-sociallinks .radio-player {
  margin-top: 10px;
  font-size: 16px;
}

.radio-player audio {
  background: #808080
  url("/designs/themes/fisl16/images/registrations-bg.png") repeat scroll 0% 0%;
}

.radio-player audio {
  width:100%;
  padding:5px;
  box-sizing: border-box;
}

.radio-player div {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

#fisl-sociallinks .radio-player li {
  margin: 0px;
  font-size: 14px;
}

#fisl-sociallinks .radio-player li,
#fisl-sociallinks .radio-player a {
  display: inline;
}

.radio-player .podcast-name {
  font-size: 11px;
  font-style: italic;
  text-align: center;
  opacity: 0.85;
}

.ajs-controls {
  height: 25px;
  padding: 15px 0px;
  margin: 0px;
}

.ajs-controls > li {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  opacity: 0.8;
}

.ajs-controls > li.ajs-progress-control {
  display: none;
}

.ajs-controls > li.ajs-play-control {
  margin: 0px 0px 0px 10px;
  background: url(/designs/themes/fisl14/images/radio-play.png) center no-repeat;
}
.ajs-controls > li.ajs-play-control.ajs-pause {
  background: url(/designs/themes/fisl14/images/radio-pause.png) center no-repeat;
}

.ajs-controls > li.ajs-play-control span {
  display: none;
}

.ajs-controls .ajs-time-control span {
  display: none;
}

.ajs-controls .ajs-time-control span.ajs-current-time-display {
  display: block;
}

.ajs-controls > li.ajs-time-control {
  right: auto;
  left: 50px;
  color: rgba(0,0,0,0.5);
}

.ajs-controls > li.ajs-volume-control {
  right: 25px;
}

.ajs-volume-control ul {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 55px;
}

.ajs-controls .ajs-volume-control ul li {
  margin: 0px;
  width: 8px;
  height: 100%;
  border: none;
  background: transparent url(imgs/radio-volum-off.png) no-repeat;
  -webkit-transition: background-color 1.5s;
  -moz-transition: background-color 1.5s;
  -ms-transition: background-color 1.5s;
  -o-transition: background-color 1.5s;
  transition: background-color 1.5s;
}
.ajs-controls .ajs-volume-control ul li.ajs-volume-level-on {
  background-image: url(imgs/radio-volum.png);
}
.ajs-controls:hover .ajs-volume-control ul li.ajs-volume-level-on {
  background-color: #FF7;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.ajs-volume-control ul li:nth-child(1) {
  padding-left: 3px;
  background-position:  3px 50%;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
}
.ajs-volume-control ul li:nth-child(2) { background-position:  -8px 50% }
.ajs-volume-control ul li:nth-child(3) { background-position: -16px 50% }
.ajs-volume-control ul li:nth-child(4) { background-position: -24px 50% }
.ajs-volume-control ul li:nth-child(5) { background-position: -32px 50% }
.ajs-volume-control ul li:nth-child(6) { background-position: -40px 50% }

.ajs-duration-display {
  display: none;
}
/* * * Vídeos HTML5, via video.js * * */

.video-js {
  margin: 0px -20px 65px -20px;
}

.video-js .vjs-tech {
  position: static;
}

.vjs-poster {
  position: absolute;
  top: 0px;
  left: 0px;
}

.vjs-default-skin .vjs-controls {
  position: relative;
  height: 27px;
  padding: 10px 0px;
  background: #333;
  border: none;
  opacity: 1;
  visibility: visible;
}

.vjs-controls.vjs-fade-out {
  opacity: 1 !important;
  visibility: visible !important;
}

.block .vjs-default-skin .vjs-play-control div {
  width: 27px;
  height: 27px;
  margin: 0px;
}

.vjs-default-skin .vjs-play-control {
  width: auto;
  margin-left: 15px;
}

.vjs-default-skin.vjs-paused .vjs-play-control div {
  background: transparent url(imgs/tv-play.png) no-repeat center;
}

.vjs-default-skin.vjs-playing .vjs-play-control div {
  background: transparent url(imgs/tv-pause.png) no-repeat center;
}

.vjs-default-skin .vjs-mute-control {
  display: none;
}

.vjs-default-skin .vjs-volume-bar {
  background: transparent url(imgs/tv-volum-off.png) no-repeat 0% 50%;
  width: 40px;
  height: 27px;
  margin: 0px;
}

.vjs-default-skin .vjs-volume-level {
  background: transparent url(imgs/tv-volum.png) no-repeat 0% 50%;
  height: 27px;
  margin: 0px;
}

.vjs-default-skin .vjs-volume-handle {
  background: #FD0;
  border: none;
  width: 0px;
  height: 30px;
  opacity: 0;
  transition: opacity 0.5s linear, width 0.4s linear, margin-left 0.4s linear;
}

.vjs-default-skin:hover .vjs-volume-handle {
  margin-left: -4px;
  width: 8px;
  opacity: 0.7;
}

.vjs-default-skin .vjs-fullscreen-control {
  width: auto;
  margin-right: 5px;
}

.vjs-default-skin .vjs-time-controls {
  display: none;
}

.vjs-default-skin div.vjs-progress-control {
  background: #BBB;
  height: 2px;
  position: absolute;
  top: 21px;
  left: 50px;
  right: 85px;
}

.vjs-default-skin .vjs-progress-holder {
  background: transparent;
}

.vjs-default-skin .vjs-progress-holder .vjs-load-progress,
.vjs-default-skin .vjs-progress-holder .vjs-play-progress {
  background: #FFF;
  opacity: 1;
  height: 2px;
}

.vjs-default-skin .vjs-progress-holder .vjs-play-progress {
  background: #FD0;
}

.vjs-default-skin div.vjs-seek-handle {
  margin: 0;
  background: #FFF;
  width: 4px;
  height: 20px;
  margin-top: -9px;
  border-radius: 0;
}

/***** News form *****/

#subscribeForm {
  text-align: center;
  height: 130px;
  padding: 5px;
}

#subscribeForm legend {
  margin-right: 0px;
  padding-right: 0px;
  font-size: 14px;
}

#subscribeForm input[type='text'] {
  margin: 10px;
}

#subscribeForm input[type="submit"] {
  background-color: #516375;
  padding: 5px 10px;
  font-size: 16px;
  font-style: italic;
}


/***** Countdown and People counter *****/

#countdown-block {
  text-align: center;
  padding-bottom: 10px;
  height: 130px;
}

#countdown-block span {
  font-size: 20px;
}

#countdown-block span.fisl-day {
  font-size: 22px;
  padding: 52px 10px;
  display: block;
}

#countdown .number,
#fisl16-npeople .number {
  background-color: #F8E000;
  border-radius: 7px;
  font-size: 34px;
  text-align: center;
  width: 35px;
  margin: 4px;
  display: inline-block;
}

:lang(eo) #countdown-block,
:lang(eo) #fisl16-npeople {
  font-family: 'Roboto Condensed', sans-serif;
}

#fisl16-npeople .number {
  background-color: #F8E10A;
  font-weight: bold;
  margin-top: 8px;
}

#fisl16-npeople {
  text-align: center;
  margin: auto;
  font-family: Amatic;
  color: #808080;
  background: url('images/fisl16-counter-bg.png') no-repeat;
  width: 210px;
  height: 105px;
}
.box-2 #fisl16-npeople {
  margin-left: 0px;
}

#fisl16-npeople div {
  font-size: 37px;
  font-weight: bold;
}

/* Profile homepage */

.profile-homepage .box-1 {
  margin-top: -5px;
  margin-right: 0px;
}

.profile-homepage #content .main-block {
  margin-left: -10%;
  margin-right: -10%;
  background: url(images/main-bg-right.png) no-repeat center right;
}

.profile-homepage .main-block .block-inner-1 {
  background: url(images/main-bg-left.png) no-repeat center left;
}

.profile-homepage .main-block .block-inner-2 {
  width: 970px;
  margin: auto;
}

.profile-homepage .box-2 {
  display: none;
}

.profile-homepage .highlights-block {
  padding-top: 0px;
  height: 411px;
  max-width: 1018px;
  min-width: 650px;
  margin: auto;
}

.profile-homepage .highlights-block .block-inner-2 {
  padding: 0px;
}

.profile-homepage .highlights-container,
.profile-homepage .highlights-image-link {
  height: 411px !important;
  width: 100% !important;
  border: none;
}

.profile-homepage .highlights-block img {
  min-height: 100%;
  width: 100%;
  height: auto;
}

.profile-homepage #content .display-content-block {
  height: 200px;
}

.profile-homepage #content .display-content-block .block-inner-2 {
  background-color: transparent;
}

.profile-homepage #content .display-content-block .body img {
  padding: 0px 40px;
}

.profile-homepage #content .blog-posts {
  display: inline;
}

#content .blog-posts .odd-post,
#content .blog-posts .even-post {
  height: auto;
}

#content .blog-posts .post-0,
#content .blog-posts .post-1,
#content .blog-posts .post-2,
#content .blog-posts .post-3,
#content .blog-posts .post-4 {
  width: 260px;
  margin-top: 0px;
  float: left;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#content .blog-posts .short-post {
  text-align: left;
}

#content .blog-posts .short-post + br {
  display: none;
}

#content .blog-posts > div {
  padding: 10px 10px 5px;;
}

#content .blog-posts .post-0 {
  width: 600px;
}

#content .blog-posts .post-2,
#content .blog-posts .post-3 {
  width: 268px;
  height: auto;
}

#content .blog-posts .post-2 {
  clear: both;
}

#content .blog-posts .post-3 {
  margin-left: 44px;
}

#content .blog-posts .post-4 {
  margin-top: -65px;
  height: auto;
}

#content .blog-posts .post-1,
#content .blog-posts .post-4 {
  float: right;
  width: 285px;
  height: auto;
}

#content .blog-posts .blog-post {
  height: 100%;
  overflow: hidden;
}

#content .blog-posts .blog-post .date {
  text-transform: uppercase;
  text-align: right;
  width: 36px;
  height: 50px;
  padding-top: 13px;
}

:lang(pt) #content .blog-posts .blog-post .date,
:lang(en) #content .blog-posts .blog-post .date {
  position: absolute;
  top: 20px;
  left: -37px;
  background: url('images/date-bg.png') no-repeat;
}

:lang(es) #content .blog-posts .blog-post .date {
  display: none;
}

#content .blog-posts .blog-post .date div {
  padding-right: 2px;
}

#content .blog-posts .blog-post .date .year {
  font-size: 10px;
  display: none;
}

#content .blog-posts .blog-post .date .day {
  font-weight: bold;
}

#content .blog-posts .blog-post > .zoomable-image,
#content .blog-posts .blog-post > img {
  max-width: 100% !important;
  overflow: hidden;
  height: auto;
  max-height: 360px;
  text-align: center;
}

#content .blog-post .title a {
  color: #555;
  font-size: 18px;
}

#content .post-0 .blog-post .title a {
  font-size: 22px;
}

.profile-homepage .blog-post .created-at .author {
  font-style: italic;
  display: none;
}

.profile-homepage #content .blog-posts .read-more {
  position: absolute;
  left: 0px;
  bottom: 15px;
  display: none;
}

.profile-homepage #content .blog-posts > div.pagination {
  padding: 10px 20px;
  margin: 0px;
}

.profile-homepage #content #article.blog #comments_list {
  display: none;
}

.profile-homepage .members-block {
  background: rgb(248, 225, 10) url('images/members-bg.png') repeat;
  margin-bottom: 0px;
  padding-bottom: 25px;
}

#theme-footer .members-block .block-inner-1,
#theme-footer .gallery-block .block-inner-1 {
  max-width: 970px;
  margin: auto;
}
#theme-footer .members-block .block-inner-2,
#theme-footer .gallery-block .block-inner-2 {
  padding: 0px 5px;
  background-color: transparent;
}

.gallery-block .gallery-block-container {
  width: 92%;
}

#theme-footer .members-block h3,
#theme-footer .gallery-block h3 {
  margin-top: 0px;
  font-weight: initial;
}

.members-block .block-title span,
.gallery-block .block-title span {
  font-size: 24px;
}

.members-block span.profile-image {
  width: 50px;
  height: 50px;
}

#members-block .common-profile-list-block li {
  padding-bottom: 5px;
}

.common-profile-list-block .vcard:hover {
  border: 1px solid transparent;
  background: transparent;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

#footer-registration {
  display: none;
}

.profile-homepage #footer-registration {
  background: #808080 url('images/registrations-bg.png') repeat;
  height: 150px;
  text-align: center;
  position: relative;
  display: block;
}

.profile-homepage #footer-registration-inner {
  width: 970px;
  margin: auto;
}

.profile-homepage #footer-registration-inner div:first-child,
.profile-homepage #footer-registration-inner #fisl16-npeople {
  display: inline-block;
  vertical-align: middle;
  margin-top: 25px;
}

.profile-homepage #footer-registration-inner div:first-child {
  margin-right: 100px;
}

/* Adaptions for resizing */

.lt950 #wrap-2 {
  min-width: unset;
}

.lt1100.profile-homepage #content .main-block,
.lt950.profile-homepage .main-block .block-inner-1,
.lt950.action-content_viewer-view_page #content .main-content,
.lt950.action-content_viewer-view_page #content #article {
  margin-left: 0px;
  margin-right: 0px;
  background: none;
}

.lt1000.profile-homepage .main-block .block-inner-2,
.lt1000.profile-homepage #footer-registration-inner {
  width: auto;
}

.lt850 #admin-bts {
  left: 10px;
  right: auto;
  top: 70px;
}

.lt950.action-content_viewer-view_page #content #article {
  padding-left: 0px;
}

.lt650 .highlights-block,
.lt950.profile-homepage #content .display-content-block,
.lt950 #theme-header .fisl-registration,
.lt950 #theme-header #fisl-sociallinks,
.lt950 .box-2,
.lt850.profile-homepage #footer-registration-inner div:first-child,
.lt850 #theme-footer .gallery-block,
.lt800 #theme-header-inner-2 #fisl-info,
.lt800 #theme-header-inner-2 #fisl-registration,
.lt800 #theme-header-inner-2 #fisl-languages,
.lt800 #theme-header-inner-2 #fisl-sociallinks,
.lt850 #top-menu .search-link {
  display: none;
}

.lt950 .box-1 {
  margin: auto;
}

.lt1000.profile-homepage #content .blog-posts .post-0,
.lt1000.profile-homepage #content .blog-posts .post-1,
.lt1000.profile-homepage #content .blog-posts .post-2,
.lt1000.profile-homepage #content .blog-posts .post-3,
.lt1000.profile-homepage #content .blog-posts .post-4 {
  width: 90%;
  height: auto;
  margin: auto;
  margin-bottom: 10px;
  float: none;
}

.lt950.profile-homepage #content .blog-posts .blog-post .date {
  right: 0px;
  left: auto;
}

.lt1000 #footer-2,
.lt950.profile-homepage #theme-header,
.lt950 #theme-footer,
.lt750 #top-menu {
  min-width: unset;
}

.lt950.profile-homepage #theme-header {
  height: 100px;
}

.lt1000 #footer-2 .box2 {
  white-space: unset;
}
.lt950 .gallery-block .slideshow-container {
  width: 100% !important;
}

.lt900.profile-homepage #theme-header-inner {
  height: 35px;
}

.lt800.profile-homepage #theme-header {
  background: none;
  height: auto;
}

.lt850 #theme-footer-inner-2 {
  padding-top: 0px;
}

.lt850 #footer-map {
  display: none;
}

.lt850 #footer-org {
  position: relative;
  clear: both;
  padding-top: 20px;
  text-align: center;
  right: auto;
}

.lt850 #footer-org a {
  margin: 20px;
}

.lt850 #theme-footer #footer-org h2 {
  font-size: 20px;
}

.lt850 #footer-2 .box1 a {
  font-size: 16px;
}

.lt850 #footer-2 .box2 {
  position: relative;
  top: auto;
  margin-top: 20px;
  width: 100%;
}

.lt850 #footer-2 .box2-contact {
  text-align: left;
}

.lt850 #footer-contato {
  font-size: 18px;
}

.lt850 #footer-cc {
  float: none;
  margin: 0px;
}

.lt850 #top-menu .menu-drop {
  display: block;
  position: absolute;
  right: 10px;
}

.lt850 #top-menu {
  height: auto;
  min-height: 40px;
}

.lt850 #top-menu-inner ul {
  display: none;
  width: 100%;
  overflow: visible;
  float: none;
  padding: 0px;
  background-color: #666;
  text-align: center;
}

.lt850 #top-menu-inner > ul {
  padding-top: 45px;
}

.lt850 #top-menu li > ul {
  display: none;
  position: relative;
  opacity: 1;
  visibility: visible;
}

.lt850 #top-menu .menu-links > li.active ul {
  display: block;
  border-top: 2px solid #F9E00F;
  border-bottom: 2px solid #F9E00F;
}

.lt850 #top-menu .menu-links > li.active > a {
  color: #F9E00F;
  padding-bottom: 0px;
}

.lt850 #top-menu li {
  float: none;
}

.lt850 #article-header {
  position: relative;
}

.lt850 #article-header .article-translations {
  position: absolute;
  bottom: -30px;
}

.lt850 .article-translations .menu-submenu {
  right: auto;
  left: 0px;
}

.lt850 #content .blog-posts .blog-post > .zoomable-image,
.lt850 #content .blog-posts .blog-post > img {
  height: auto !important;
}

#_atssh {
  display: none;
}
